* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}
 
h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


div.profile-details {
  width: max-content;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 10px 20px;
}

div.profile-input {
  width: 300px;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 10px 20px;
}

/* Way 1 of aligning inputs in forms */
div.profile-input label {
  display: block;
  text-align: left;
  margin-top: 10px;
} 

div.profile-input input {
  /* float: right; */
  clear: none;
  margin-left: 1px;
}


div.profile-input button {
  margin: 15px 10px;
  padding: 3px 8px;
}



div.education-details {

}

/* Way 2 of aligning forms but not used for now for consistency
div.education-details form {
  display: table;
}

div.education-details p {
  display: table-row;
  padding-top: 10px;
}

div.education-details label {
  display: table-cell;


}

div.education-details input {
  display: table-cell;
}

*/